.light-theme {
    --primary-background: #FFFFFF;
    --secondary-background: #f7f9f9;
    --list-background: #e6e7e7;
    --active-and-hover: #1d9bf0;
    --darker-accents: #176da7;
    --text-color: #000000;
    --primary-gradient: #20a5fd;
    --secondary-gradient: #1673b1;
    --accents: #176da7;
}

.dark-theme {
    --primary-background: #000000;
    --secondary-background: #16181c;
    --list-background: #323232;
    --active-and-hover: #1d9bf0;
    --darker-accents: #0e4d78;
    --text-color: #FFFFFF;
    --primary-gradient: #1a8cd8;
    --secondary-gradient: #0e4d78;
    --accents: #0e4d78;
}